* { 
    padding: 0;
    margin: 0;
    list-style: none;
}
body {
    padding:100px;
}

.history h2 {
position: relative;
font-size: 33px;
line-height: 1;
}

.history h2:before {
content:"";
position: absolute;
left:-48px;
top:50%;
transform: translateY(-50%);
width: 17px;
height: 17px;
border-radius: 100%;
background:#fff;
border: 5px solid #ff5a2b;
box-sizing: border-box;
}

.history div {
    position: relative;
    padding: 0 0 0 48px;
}
.history div:before {
    content:"";
    position:absolute;
    left:8px;
    top:0;
    width: 2px;
    height:100%;
    background:#ddd;
}
.history div:first-child:before { 
    top:10px;
    height:calc(100% - 10px);
}
.history ol {
    padding: 20px 0 74px;
}
.history li {
    font-size: 17px;
    color:#000;
    line-height: 29px;
}

nav{
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
}
nav ul{
    
    width: 100%;
    background-color: rgba(44, 42, 39, 0.983);
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    display: inline-block;
}
.home{
    background-color: darkorange;
    width: 100px;
    text-align: center;
    font-weight: bold;
    float: right;
}
.home a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 16px 16px;
}
.dropdown{
    position: relative;
}
.dropdown-menu{
    color: white;
    padding: 16px;
    font-size: 16px;
    cursor: pointer;
}
.dropdown-content{
    position: absolute;
    background-color: #f9f9f9;
    min-height: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    display: none;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-menu:hover:not(.home){
    background-color: darkorange;
    color: white;
}

.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown-content a:hover{ background-color: #f1f1f1;}

#img {
    background-image: url('https://a.cdn-hotels.com/gdcs/production85/d317/8cc5e5c5-323d-4f7b-9531-67eaf66e72b0.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
    height: 100vh;
}

